{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h2>Work Experience</h2>
    <ul class="list-group">
        <li class="list-group-item">Software Developer at TATA CONSULTANCY SERVICES (2021-Present)</li>
        <li class="list-group-item">Intern at Career Launcher  (July,2020-October,2020)</li>
    </ul>

</div>

<br>
<br>
<br>
<br>
<br>


<div class="container text-center">
    <h2>Projects</h2>

    1. Flask Question & Answer app <br>
    2. Gesture controlled AI application. <br>
    3. Blog app using Flask Framework <br>
    4. Music Recommendation Using Mood classifier
            
        
    

</div>


{% endblock %}
