{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h1>Welcome to Aryendra's Portfolio</h1>
    <p>This is where you'll find information about my experience, skills, research, and more!</p>
    
</div>

<br>
<br>
<br>
<br>

<div class="container text-center">
    <h2>Contact</h2>
    
    Mobile: +918448675319 <br>
    Email: aryendratomar30@gmail.com <br>

    Github Profile <a href="">https://github.com/Aryendra</a>
    LinkedIn Profile <a href=""> <br>
        https://www.linkedin.com/in/aryendra- singh18442518b</a> <br>
    Address : 320, Tower 15, Silver City, Sector 93,
        Noida, Uttar Pradesh, INDIA.
    

    
   
   
    
    
        
    

</div>
{% endblock %}

